<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Rapidly</h1>
    <h2>Your favorite Expense Tracker</h2>
    <form action="/users/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    
    <% if (messages.error) { %>
        <div class="alert alert-danger"><%= messages.error %></div>
    <% } %>

    <p>Don't have an account? <a href="/users/register">Register here</a>.</p>
</body>
</html>
