<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <div class="container">
        <img src="https://imgur.com/1WydS0f.png" alt="App Logo" class="logo">
        <form action="/users/register" method="POST" class="form">
            <div class="form-group">
                <label for="username">New Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>

        <a href="/">Back to Home</a>
    </div>
</body>
</html>
