<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
</head>
<body>
    <h1>Expense Statistics</h1>
    <!-- Place holder for statisics -->
    <a href="/expenses">Back to Dashboard</a>
</body>
</html>
